:root {
    --clr-background: #181818;
    --clr-background-secondary: #232323;
    --clr-accent: #CA0000;
    --clr-txt: #fff;

    --img-logo: url(../img/elclark-red/250x75.png);
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;

    color: var(--clr-txt);
    background-color: var(--clr-background);

    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #000000a2, transparent);
    text-align: center;
    width: 100%;
    height: 100px;
    z-index: 100;
}

.logo {
    display: inline-block;

    width: 250px;
    height: 75px;

    background-image: var(--img-logo);
}

.main {
    min-height: 100vh;
}

h1 {
    font-size: 1.75rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin: .25em 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.construction {
    margin: 1rem;
    padding: 2rem;

    border-radius: 2rem;

    background-color: var(--clr-background-secondary);
}

.btn {
    display: inline-block;
    padding: .75rem 2rem;

    border-radius: 2rem;
    border: none;
    background-color: var(--clr-accent);

    color: var(--clr-txt);
    text-decoration: none;
}

.btn:hover {
    background-color: var(--clr-txt);
    color: var(--clr-accent);
    
    transition: all 0.2s ease-in-out;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin: 1.5rem 0 0 0;
}